/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/resources/sass/app.scss ***!
  \**********************************************************************************************************************/
/*
    app.scss
*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 690px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.7);
}

.saytext-chat {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.saytext-chat-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.saytext-chat-left {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 100%;
}

.saytext-chat-right {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 20%;
  height: 99.8%;
  background-color: rgba(62, 70, 55, 0.45);
  border: 1px solid #7c8c70;
  color: #ffd000;
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.saytext-chat-online {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 5;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border: 1px solid #0c5d0e;
  background-color: rgba(0, 0, 0, 0.7);
  color: #74ff70;
  font-family: "Courier Prime", "Courier New", monospace;
  cursor: pointer;
}

.saytext-chat-content {
  position: relative;
  width: 98%;
  height: 81%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Courier Prime", "Courier New", monospace;
}

.chat-style-spec {
  color: #ffffff;
}

.chat-style-t {
  color: #ff4040;
}

.chat-style-ct {
  color: #96c8ff;
}

.chat-style-notice {
  color: #ffd000;
}

.saytext-chat-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.saytext-chat-actions-message {
  position: relative;
  width: 100%;
}

.chat-input-element {
  padding: 10px;
  background-color: rgba(62, 70, 55, 0.45);
  border: 1px solid #7c8c70;
  color: #ffd000;
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.5px;
}

.saytext-chat-actions-message input {
  width: 97.5%;
}
@media screen and (max-width: 500px) {
  .saytext-chat-actions-message input {
    width: 95%;
  }
}

.saytext-chat-actions-settings {
  position: relative;
  width: 100%;
}

.saytext-chat-actions-settings input {
  position: relative;
  width: 68.5%;
}
@media screen and (max-width: 399px) {
  .saytext-chat-actions-settings input {
    width: 65.9%;
  }
}
.saytext-chat-actions-settings input {
  padding: 5px;
}

.saytext-chat-actions-settings select {
  position: absolute;
  width: 30%;
  right: 1px;
  padding: 5px;
}

.saytext-chat-actions-settings select option {
  background-color: rgba(0, 0, 0, 0.5);
}

.saytext-chat-list {
  position: relative;
  padding: 5px;
}

.saytext-chat-list-item {
  position: relative;
  margin-bottom: 5px;
}

.saytext-chat-options {
  position: absolute;
  top: -42px;
  right: 10px;
}

.saytext-chat-options-item {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.saytext-chat-options-item:hover {
  transform: scale(1.2);
}

.saytext-chat-options-item img {
  width: 25px;
  height: 25px;
}

/*# sourceMappingURL=app.css.map*/