/*
    app.scss
*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.chat-strike {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.chat-strike-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.chat-strike-left {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 100%;
}

.chat-strike-right {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(62, 70, 55, 0.45);
    border: 1px solid #7c8c70;
    color: #ffd000;
    font-family: "Courier Prime", "Courier New", monospace;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
    overflow: auto;
}

.chat-strike-online {
    position: absolute;
    top: 0;
    right: 2px;
    z-index: 5;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border: 1px solid #0c5d0e;
    background-color: rgba(0, 0, 0, 0.7);
    color: #74ff70;
    font-family: 'Courier Prime', 'Courier New', monospace;
}

.chat-strike-content {
    position: relative;
    width: 98%;
    height: 81%;
    padding: 10px;
    //box-shadow: inset -1px -1px #7c8c70, inset 1px 1px rgb(10, 10, 10), inset -2px -2px #7c8c70, inset 2px 2px #7c8c70;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Courier Prime', 'Courier New', monospace;
}

.chat-style-spec {
    color: #ffffff;
}

.chat-style-t {
    color: #ff4040;
}

.chat-style-ct {
    color: #96c8ff;
}

.chat-style-notice {
    color: #ffd000;
}

.chat-strike-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat-strike-actions-message {
    position: relative;
    width: 100%;
}

.chat-input-element {
    padding: 10px;
    background-color: rgba(62, 70, 55, 0.45);
    border: 1px solid #7c8c70;
    color: #ffd000;
    font-family: 'Courier Prime', 'Courier New', monospace;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    outline: none;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.5px;
}

.chat-strike-actions-message input {
    width: 97%;
}

.chat-strike-actions-settings {
    position: relative;
    width: 100%;
}

.chat-strike-actions-settings input {
    position: relative;
    width: 68.5%;
    @media screen and (max-width: 399px) {
        width: 65.9%;
    }
    padding: 5px;
}

.chat-strike-actions-settings select {
    position: absolute;
    width: 30%;
    right: 1px;
    padding: 5px;
}

.chat-strike-actions-settings select option {
    background-color: rgba(0, 0, 0, 0.5);
}

.chat-strike-list {
    position: relative;
    padding: 5px;
}

.chat-strike-list-item {
    position: relative;
    margin-bottom: 5px;
}

.chat-strike-options {
    position: absolute;
    top: -42px;
    right: 10px;
}

.chat-strike-options-item {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.chat-strike-options-item:hover {
    transform: scale(1.2);
}

.chat-strike-options-item img {
    width: 25px;
    height: 25px;
}
